$main-color: #695f4e;
$light-color: #9c8761;
$gray-color:  rgb(45, 55, 72);

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-table-thead > tr > th {
  background-color: $main-color;
  color: #fff;
  padding: 10px 16px;
  border-color: #bbb8af;
  border-right-width: 1px;
  border-top-width: 1px;
  // &:last-of-type {
  //   border-right-width: 0;
  // }
}

.searchBar {
  .ant-form-item-label > label {
    color: #fff;
  }

  .ant-form-item-explain, .ant-form-item-extra {
    color: #f5f289
  }
  .ant-form-item {
    .ant-select {
      min-width: 150px;
      @media #{$media-mobile} {
        min-width: 100%
      }
    }
    .ant-input {
      width: 120px;
      @media #{$media-mobile} {
        min-width: 100%
      }
    }
    .ant-radio-wrapper {
      color: #fff;
    }
  }
}


.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #e9e7dc;
}

.ant-table-tbody > tr > td {
  font-weight: 500;
}

.ant-btn-primary {
  background-color: $main-color;
  border-color: $main-color;
  &:hover {
    background-color: darken($color: $main-color, $amount: 10);
    border-color: darken($color: $main-color, $amount: 10);
  }
}

a {
  color: $main-color;
  &:hover {
    color: rgb(158, 0, 0)
  }
}

.ant-modal-header {
  // background-color: rgb(95, 7, 7);
  background-color: $gray-color;

}
.ant-modal-content {
  .ant-table-tbody {
    background-color: #eee;
  }
}
.ant-modal-title {
  color: #fff;
  font-weight: 500;
}
.ant-modal-close-x {
  color: #ccc;
  position: relative;
  top: -5px;
}
// .ant-input-affix-wrapper  {
//   background-color: #ccc;
//   input {
//     background-color: transparent;
//   }
// }

// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: #ccc;
// }

.ant-table-row:nth-child(even) td{
  background-color: rgb(245, 244, 244);
}


.ant-pagination-item {
  border: 0;
  a {
    color: #333;
  }
  &:hover {
    background-color: rgb(255, 246, 221);
    a {
      color: #333;
    }
  }

}


.ant-pagination-item-active {
  background-color: #222;
  border: 0;
  a {
    color: #ccc;
  }
  &:focus, &:hover {
    background-color: #333;
    a {
      color: #ccc;
    }
  }
}


.ant-picker-panel-container .ant-picker-panels {
  @media #{$media-mobile-sm} {
    flex-direction: column;
  }
}

