html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-table-thead > tr > th {
  background-color: #351f08;
  color: #fff;
  padding: 10px 16px;
  border-color: #999;
  border-right-width: 1px;
  border-top-width: 1px;
}

.searchBar .ant-form-item-label > label {
  color: #fff;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #f7f2d6;
}
