$main-color: #695f4e;
$light-color: #9c8761;
$gray-color:  #2d3748;
$danger-color: #cc2121;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.searchBar {
  .ant-form-item-label > label {
    color: #fff;
  }

  .ant-form-item-explain, .ant-form-item-extra {
    color: #f5f289;
    &.ant-form-item-explain-error {
      color: #fc815c;
      // font-weight: bold;
    }
  }

  .ant-form-item {
    .ant-select {
      width: 150px;
      @media #{$media-mobile} {
        width: 100%
      }
    }
    .ant-input {
      width: 110px;
      @media #{$media-mobile} {
        width: 100%
      }
    }

    .ant-radio-wrapper {
      color: #fff;
    }
  }
}

.ant-input[disabled] {
  color: #666;
}


.ant-table-thead > tr > th {
  background-color: $main-color;
  color: #fff;
  padding: 10px 16px;
  border-color: #8a877c;
  border-left-width: 1px;
  border-top-width: 1px;
  // &:last-of-type {
  //   border-right-width: 0;
  // }
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #eee;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #e9e7dc;
}

.ant-table-tbody > tr > td {
  font-weight: 500;
  border-color: #eeecec;
  border-left-width: 1px;
}

.ant-btn {
  color: $main-color;
  border-color: $main-color;
  background-color: transparent;
  &:hover, &:focus {
    color: white;
    background-color: lighten($color: $main-color, $amount: 30);
    border-color: lighten($color: $main-color, $amount: 30);
  }
  &.ant-btn-primary {
    background-color: $main-color;
    border-color: $main-color;
    color: white;
    &:hover {
      background-color: darken($color: $main-color, $amount: 10);
      border-color: darken($color: $main-color, $amount: 10);
    }
    &.ant-btn-dangerous {
      background-color: $danger-color;
      border-color: $danger-color;
      &:hover {
        background-color: darken($color: $danger-color, $amount: 10);
        border-color: darken($color: $danger-color, $amount: 10);
      }
    }
  }
}






a {
  color: $main-color;
  &:hover {
    color: rgb(158, 0, 0)
  }
}

.ant-modal-header {
  background-color: $gray-color;

}
.ant-modal-content {
  .ant-table-tbody {
    background-color: #eee;
  }
}
.ant-modal-title {
  color: #fff;
  font-weight: 500;
}
.ant-modal-close-x {
  color: #ccc;
  position: relative;
  top: -5px;
}
// .ant-input-affix-wrapper  {
//   background-color: #ccc;
//   input {
//     background-color: transparent;
//   }
// }

// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: #ccc;
// }

.ant-table-row:nth-child(even) td{
  background-color: rgb(245, 244, 244);
}

.ant-table tfoot.ant-table-summary {
  background-color: #ddd;
  font-weight: bold;
  > tr > td {
    border-right: 1px solid #c7c5c5;
    // border-top: 1px solid #c7c5c5;
  }
}


.ant-pagination-item {
  border: 0;
  a {
    color: #333;
  }
  &:hover {
    background-color: rgb(255, 246, 221);
    a {
      color: #333;
    }
  }

}


.ant-pagination-item-active {
  background-color: #222;
  border: 0;
  a {
    color: #ccc;
  }
  &:focus, &:hover {
    background-color: #333;
    a {
      color: #ccc;
    }
  }
}


.ant-picker-panel-container .ant-picker-panels {
  @media #{$media-mobile-sm} {
    flex-direction: column;
  }
}



.monitor {
  .ant-input-number {
    width: 67px;
    &.blue {
      input {
        background-color: #dde4ea;
      }
    }
    &.orange {
      input {
        background-color: #f5e8ce;
      }
    }
    &.green {
      input {
        background-color: #f1f5ce;
      }
    }
  }
}

.bet-setting .ant-form-item-explain, .ant-form-item-extra {
  font-size: small;
}


// 編輯器
.rdw-image-modal {
  margin-left: -100px;
}
