html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-table-thead > tr > th {
  background-color: #351f08;
  color: #fff;
  padding: 10px 16px;
  border-color: rgb(94, 61, 0);
  border-right-width: 2px;
  border-top-width: 1px;
}

.searchBar {
  .ant-form-item-label > label {
    color: #fff;
  }

  .ant-form-item-explain, .ant-form-item-extra {
    color: #f5f289
  }
}


.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #f7f3de;
}

.ant-table-tbody > tr > td {
  font-weight: 500;
}

.ant-btn-primary {
  background-color: #744210;
  border-color: #744210;
  &:hover {
    background-color: #4e2c0a;
    border-color: #4e2c0a;
  }
}

a {
  color: #744210;
  &:hover {
    color: rgb(158, 0, 0)
  }
}

.ant-modal-header {
  // background-color: rgb(95, 7, 7);
  background-color: rgb(45, 55, 72);

}
.ant-modal-title {
  color: #fff;
  font-weight: 500;
}
.ant-modal-close-x {
  color: #ccc;
  position: relative;
  top: -5px;
}
// .ant-input-affix-wrapper  {
//   background-color: #ccc;
//   input {
//     background-color: transparent;
//   }
// }

// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   background-color: #ccc;
// }
